<div class="mt-4">
    <h2>Subscription Management</h2>
    <div class="card mb-4 mt-3">
        <div class="card-body">
            <h5 class="card-title">Add New Subscription</h5>
            <form ng-submit="addItem()" class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">CUSTOMER ID</label>
                    <input type="number" class="form-control" ng-model="newItem.customer" required>
                </div>
                <div class="col-md-3">
                    <label class="form-label">PRODUCT ID</label>
                    <input type="number" class="form-control" ng-model="newItem.product" required>
                </div>
                <div class="col-md-3">
                    <label class="form-label">START DATE</label>
                    <input type="date" class="form-control" ng-model="newItem.start_date" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Add Subscription</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CUSTOMER ID</th>
                <th>PRODUCT ID</th>
                <th>START DATE</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.customer}}</td>
                <td>{{item.product}}</td>
                <td>{{item.start_date | date}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteItem(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
